/* Angelino Regular */
@font-face {
  font-family: 'Angelino';
  src: url('https://raw.githubusercontent.com/Lilcheff/Angelino/refs/heads/main/Angelino.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Angelino Bold */
@font-face {
  font-family: 'Angelino';
  src: url('https://raw.githubusercontent.com/Lilcheff/Angelino/refs/heads/main/Angelino-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Angelino Inline */
@font-face {
  font-family: 'Angelino Inline';
  src: url('https://raw.githubusercontent.com/Lilcheff/Angelino/refs/heads/main/Angelino-Inline.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Angelino Outline */
@font-face {
  font-family: 'Angelino Outline';
  src: url('https://raw.githubusercontent.com/Lilcheff/Angelino/refs/heads/main/Angelino-Outline.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Angelino Outline Bold */
@font-face {
  font-family: 'Angelino Outline';
  src: url('https://raw.githubusercontent.com/Lilcheff/Angelino/refs/heads/main/Angelino-OutlineBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}